<div class="modal-header">
    <h6 class="modal-title" [innerHTML]="'TOPIC.ALLOWED_USERS' | translate: { value: topic.title }"></h6>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p *ngIf="error">
        <ngb-alert [type]="'danger'" (close)="closeAlert()">{{ "ERROR.DELETE_ALLOWED_USER" | translate }}</ngb-alert>
    </p>
    <div *ngIf="allowedUsers" class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead>
            <tr>
                <th>{{ 'USER.ID' | translate }}</th>
                <th>{{ 'USER.NAME' | translate }}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody *ngIf="topic.allowedUserIds.length > 0; else noUsers">
            <tr *ngFor="let user of allowedUsers">
                <td width="10%">{{ user.id }}</td>
                <td width="85%">{{ user.name }}</td>
                <td width="5%">
                    <button class="btn btn-outline-danger btn-sm"
                            [disabled]="deleting"
                            (click)="onDeleteFromList(user)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
            </tbody>
            <ng-template #noUsers>
                <tbody>
                <tr>
                    <td colspan="3">
                        There are no users in the topic.
                    </td>
                </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>