<div *ngIf="entities" class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th>{{ 'TOPIC.ID' | translate }}</th>
            <th>{{ 'TOPIC.TITLE' | translate }}</th>
            <th>{{ 'TOPIC.CREATED_BY' | translate }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody *ngIf="entities.length > 0; else noRequests">
        <tr *ngFor="let topic of entities">
            <td width="5%">{{ topic.id }}</td>
            <td width="75%">
                <button type="button"
                        class="btn btn-link btn-sm pt-0 pb-0"
                        [routerLink]="['/topic', topic.id]"
                        role="button">{{ topic.title }}
                </button>
            </td>
            <td width="15%">{{ topic.createdBy.name }}</td>
            <td width="5%">
                <button class="btn btn-outline-primary btn-sm"
                        (click)="onShowUsers(topic)"
                        [disabled]='false'>{{ 'BUTTON.ALL_USERS'| translate}}
                </button>
            </td>
        </tr>
        </tbody>
        <ng-template #noRequests>
            <tbody>
            <tr>
                <td colspan="5">
                    There is no new discuss topic requests.
                </td>
            </tr>
            </tbody>
        </ng-template>
    </table>

    <ngb-pagination
            *ngIf="entities"
            [collectionSize]="totalElements"
            [(page)]="currentPage"
            (pageChange)="onPageChange()"
            [maxSize]="maxSize"
            size="sm" [pageSize]="pageSize">
    </ngb-pagination>

</div>