<div *ngIf="entities" class="table-responsive">

  <table class="table table-bordered table-hover table-sm">
    <thead>
    <tr>
      <th>{{ 'USER.ID' | translate }}</th>
      <th>{{ 'USER.NAME' | translate }}</th>
      <th>{{ 'USER.EMAIL' | translate }}</th>
      <th>{{ 'USER.ROLE' | translate }}</th>
      <th>{{ 'USER.BLOCKED' | translate }}</th>
      <th>{{ 'USER.REJECTED' | translate }}</th>
      <th *ngIf="['blocked'].indexOf(currentRoute) > -1">{{ 'ADMIN.UNBLOCK' | translate }}</th>
      <th *ngIf="['users'].indexOf(currentRoute) > -1">{{ 'ADMIN.BLOCK_UNBLOCK' | translate }}</th>
      <th *ngIf="currentRoute === 'users'">{{ 'ADMIN.DELETE' | translate }}</th>
      <th *ngIf="['pending','rejected'].indexOf(currentRoute) > -1">{{ 'ADMIN.APPROVE' | translate }}</th>
      <th *ngIf="['pending','approved'].indexOf(currentRoute) > -1">{{ 'ADMIN.REJECT' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of entities">
      <td>{{ user.id }}</td>
      <td>
        <button *ngIf="canEditUser(user); else username" type="button"
                class="btn btn-link btn-sm pt-0 pb-0"
                [routerLink]="['../user', user.id]"
                role="button">{{ user.name }}
        </button>
        <ng-template #username>{{user.name}}</ng-template>
      </td>
      <td>{{ user.email }}</td>
      <td>{{ user.role.title }}</td>
      <td><span class="badge badge-{{ user.blocked ? 'warning' : 'info' }}">{{ user.blocked }}</span></td>
      <td><span class="badge badge-{{ user.rejected ? 'warning' : 'info' }}">{{ user.rejected }}</span></td>
      <td *ngIf="['blocked', 'users'].indexOf(currentRoute) > -1">
        <button type="button"
                class="btn btn-warning btn-sm pt-0 pb-0"
                (click)="onBlock(user)"
                [disabled]="blocking || !canEditUser(user)"
                role="button">X
        </button>
      </td>
      <td *ngIf="currentRoute === 'users'">
        <button type="button"
                class="btn btn-danger btn-sm pt-0 pb-0"
                (click)="onDelete(user.id)"
                [disabled]="deleting || !canDeleteUser(user)"
                role="button">X
        </button>
      </td>
      <td *ngIf="['pending','rejected'].indexOf(currentRoute) > -1">
        <button type="button"
                class="btn btn-primary btn-sm pt-0 pb-0"
                (click)="onApprove(user)"
                [disabled]="approving  || !canEditUser(user)"
                role="button">V
        </button>
      </td>
      <td *ngIf="['pending','approved'].indexOf(currentRoute) > -1">
        <button type="button"
                class="btn btn-danger btn-sm pt-0 pb-0"
                (click)="onReject(user)"
                [disabled]="rejecting || !canEditUser(user)"
                role="button">X
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row justify-content-between">
    <div class="col-1 offset-4">
      <ngb-pagination
          *ngIf="entities"
          [collectionSize]="totalElements"
          [(page)]="currentPage"
          (pageChange)="onPageChange()"
          [maxSize]="maxSize"
          size="sm" [pageSize]="pageSize">
      </ngb-pagination>
    </div>
  </div>
</div>
