<div class="container mt-2">
  <div class="row justify-content-between">
    <div class="col-12">
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>
    </div>
    <div class="col-12 mb-0">
      <div *ngFor="let topic of entities" class="card">
        <div class="card-header pt-1 pb-1">
          <div class="row justify-content-between">
            <div class="col-8">
              <a [routerLink]="['/topic', topic.id]">{{ topic.title }}</a>
            </div>
            <!--<div class="col-2">-->
            <!--<small class="text-muted">Last updated 3 mins ago</small>-->
            <!--</div>-->
          </div>
        </div>
        <div class="card-block pb-3">
          <div class="row justify-content-between">
            <div class="col-10">
              <h6 class="card-subtitle mb-2 text-muted" style="font-size: small">
                <b>Author:</b> {{ topic.createdBy?.name }}
                <!--<del *ngIf="!topic.createdBy.name">deleted</del>-->
              </h6>
              <p>
                <small class="card-text mb-0">{{ topic.description }}</small>
              </p>
            </div>
            <div class="col-2">
              <img src='{{ topic.imagePath ? topic.imagePath : "./assets/src-img/java.jpg" }}'
                   alt='{{ topic.title }}'
                   class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="entities" class="row justify-content-between pt-2">
    <div class="col-1 offset-5">
      <ngb-pagination
          [collectionSize]="totalElements"
          [(page)]="currentPage"
          (pageChange)="onPageChange()"
          [maxSize]="maxSize"
          size="sm" [pageSize]="pageSize">
      </ngb-pagination>
    </div>
  </div>

</div>
