<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-group">
                <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()" novalidate>
                    <!-- EMAIL -->
                    <div class="row">
                        <div class="col mb-3">
                            <div class="form-group">
                                <label for="currentPassword">{{ 'USER.CURRENT_PASSWORD' | translate }}</label>
                                <input
                                        type="password"
                                        id="currentPassword"
                                        formControlName="currentPassword"
                                        class="form-control">
                                <div *ngIf="currentPassword.invalid && currentPassword.touched"
                                     class="invalid-feedback">
                                    {{ "VALIDATION.REQUIRED" | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PASSWORD -->
                    <div class="row">
                        <div class="col mb-3">
                            <div class="form-group">
                                <label for="password">{{ 'USER.NEW_PASSWORD' | translate }}</label>
                                <input
                                        type="password"
                                        id="password"
                                        formControlName="password"
                                        class="form-control">
                                <div *ngIf="password.invalid && password.touched">
                                    <div *ngIf="password.errors['minlength']" class="invalid-feedback">
                                        {{ "VALIDATION.MIN"| translate:minPasswordLength }}
                                    </div>
                                    <div *ngIf="password.errors['maxlength']" class="invalid-feedback">
                                        {{ "VALIDATION.MAX"| translate:maxPasswordLength }}
                                    </div>
                                    <div *ngIf="password.errors['required']" class="invalid-feedback">
                                        {{ "VALIDATION.REQUIRED" | translate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PASSWORD CONFIRMATION -->
                    <div class="row">
                        <div class="col mb-3">
                            <div class="form-group">
                                <label for="passwordConfirm">{{ 'FORM.PASSWORD_CONFIRMATION' | translate }}</label>
                                <input
                                        type="password"
                                        id="passwordConfirm"
                                        formControlName="passwordConfirm"
                                        class="form-control ng-invalid">
                                <div *ngIf="passwordForm && passwordConfirm.touched && passwordMismatch"
                                     class="invalid-feedback">
                                    {{ "VALIDATION.DO_NOT_MATCH" | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn btn-success pull-left"
                                    [disabled]="passwordForm.invalid || changing">
                                {{ 'BUTTON.CHANGE_PASSWORD'| translate }}
                            </button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-warning pull-right" (click)="onBack()">
                                {{ 'BUTTON.CANCEL'| translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
