<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center pt-5 pb-4">
        <h1>{{ "MESSAGE.CONGRATULATION" | translate }}</h1>
      </div>
      <h4>{{ "MESSAGE.SUCCESSFULLY_CREATED_ACCOUNT" | translate }}</h4>
      <h5>{{ "MESSAGE.TRY_LOGIN" | translate }}</h5>
      <h5>{{ "MESSAGE.READ_FORUM" | translate }}</h5>
      <div class="d-flex justify-content-center">
        <button class="btn btn-block btn-success btn-lg" (click)="onRead()">{{ "BUTTON.READ" | translate }}</button>
      </div>
    </div>
  </div>
</div>
