<form [formGroup]="msgForm"
      (ngSubmit)="onSendMsg()"
      *ngIf="canCreateMsg(); else makeDiscussTopicRequest">

  <div class="form-group">
      <textarea class="form-control"
                id="newMessage"
                rows="7"
                cols="150"
                formControlName="text"
                placeholder="{{ 'PLACEHOLDER.TYPE_TEXT'| translate }}">
      </textarea>
    <h5 *ngIf="loggedUser.blocked" class="invalid-feedback">
      {{ "MESSAGE.BLOCKED_USER" | translate }}
    </h5>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit"
              class="btn btn-success"
              [disabled]="isDisabledSendButton">
        {{ 'BUTTON.SEND'| translate }}
      </button>
    </div>
  </div>
</form>

<ng-template #makeDiscussTopicRequest>
  <h5>{{ "MESSAGE.CANT_CREATE_MESSAGES" | translate }}</h5>
</ng-template>
