<div *ngIf="entities" class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead style="font-size: small">
        <tr>
            <th>{{ 'DISCUSS_REQUEST.IN_TOPIC' | translate }}</th>
            <th>{{ 'DISCUSS_REQUEST.STATUS' | translate }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody *ngIf="entities.length > 0; else noDiscussRequests" style="font-size: small">
        <tr *ngFor="let discussRequest of entities">
            <td width="80%">
                <button type="button"
                        class="btn btn-link btn-sm"
                        [routerLink]="['/topic', discussRequest.inTopic.id]"
                        role="button">{{ discussRequest.inTopic?.title }}
                </button>
            </td>
            <td width="15%">
              {{ getTranslationString(discussRequest.status.title) | translate }}
            </td>
            <td width="5%">
                <button type="button"
                        class="btn btn-outline-danger btn-sm pt-0 pb-0"
                        (click)="onDelete(discussRequest)"
                        role="button">X
                </button>
            </td>
        </tr>
        </tbody>
        <ng-template #noDiscussRequests>
            <tbody>
            <tr>
                <td colspan="3">
                    {{ "DISCUSS_REQUEST.NO_REQUESTS" | translate }}
                </td>
            </tr>
            </tbody>
        </ng-template>
    </table>

    <ngb-pagination
            *ngIf="entities"
            [collectionSize]="totalElements"
            [(page)]="currentPage"
            (pageChange)="onPageChange()"
            [maxSize]="maxSize"
            size="sm" [pageSize]="pageSize">
    </ngb-pagination>

</div>