<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-4 col-md-3 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="list-group-item"
                       [routerLink]='["my_topics"]'
                       routerLinkActive="active"
                       role="button">
                        {{ 'USER_DASHBOARD.MY_TOPICS' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="list-group-item"
                       [routerLink]='["my_discuss_requests"]'
                       routerLinkActive="active"
                       role="button">
                        {{ 'USER_DASHBOARD.MY_DISCUSS_REQUESTS' | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="list-group-item"
                       [routerLink]='["my_create_topic_requests"]'
                       routerLinkActive="active"
                       role="button">
                        {{ 'USER_DASHBOARD.MY_CREATE_TOPIC_REQUESTS' | translate }}
                    </a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-8 col-md-9 pt-2">
            <h5>{{ 'USER_DASHBOARD.DASHBOARD' | translate }}</h5>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
