<h2>{{title}}</h2>
<div class="well well-sm">
    <ul class="list-group">
        <li *ngFor="let user of users" class="list-group-item">
            <p class="text-justify"><b>{{ 'USER.NAME' | translate }}:</b> {{user.name}} <b>{{ 'USER.EMAIL' | translate
                }}:</b> {{user.email}}
                <button type="button" class="btn btn-info" [routerLink]="['/user', user.id]">{{ 'BUTTON.DETAIL' |
                    translate }}
                </button>
            </p>
        </li>
    </ul>
</div>
