<div *ngIf="requests" class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <th>{{ 'CREATE_TOPIC_REQUEST.ID' | translate }}</th>
            <th>{{ 'CREATE_TOPIC_REQUEST.TITLE' | translate }}</th>
            <th>{{ 'CREATE_TOPIC_REQUEST.DESCRIPTION' | translate }}</th>
            <th>{{ 'CREATE_TOPIC_REQUEST.STATUS' | translate }}</th>
            <th>{{ 'CREATE_TOPIC_REQUEST.REQUESTED_BY' | translate }}</th>
        </tr>
        </thead>
        <tbody *ngIf="requests.length > 0; else noRequests">
        <tr *ngFor="let request of requests">
            <td>{{ request.id }}</td>
            <td>{{ request.requestedTopicTitle }}</td>
            <td>{{ request.requestedTopicDescription }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.requestedBy?.name }}</td>
        </tr>
        </tbody>
        <ng-template #noRequests>
            <tbody>
            <tr>
                <td>
                    There is no new create topic requests.
                </td>
            </tr>
            </tbody>
        </ng-template>
    </table>

    <ngb-pagination
            *ngIf="requests"
            [collectionSize]="totalElements"
            [(page)]="currentPage"
            (pageChange)="onPageChange()"
            [maxSize]="maxSize"
            size="sm" [pageSize]="pageSize">
    </ngb-pagination>

    <!--<div *ngFor="let request of fromArr"><p>-->
    <!--requested by {{ request.requestedBy }}-->
    <!--</p></div>-->
    <table class="table table-bordered table-hover table-sm" *ngIf="fromArr">
        <thead>
        <tr>
            <th>{{ 'CREATE_TOPIC_REQUEST.ID' | translate }}</th>
            <th>{{ 'CREATE_TOPIC_REQUEST.TITLE' | translate }}</th>
            <th>{{ 'CREATE_TOPIC_REQUEST.DESCRIPTION' | translate }}</th>
            <th>{{ 'CREATE_TOPIC_REQUEST.REQUESTED_BY' | translate }}</th>
        </tr>
        </thead>
        <tbody *ngIf="fromArr.length > 0">
        <tr *ngFor="let request of fromArr">
            <td>{{ (request).id }}</td>
            <td>{{ (request).requestedTopicTitle }}</td>
            <td>{{ (request).requestedTopicDescription }}</td>

            <td>{{ (request).requestedBy.name }}</td>
        </tr>
        </tbody>
    </table>

</div>