<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            (click)="isNavbarCollapsed = !isNavbarCollapsed"
            aria-controls="exCollapsingNavbar2"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar1">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link"
             routerLink="/"
             routerLinkActive="active">
            {{ 'NAV.TOPICS' | translate }}
          </a>
          <a *ngIf="false" class="nav-item nav-link" routerLink="/" routerLinkActive="active">
            {{ 'NAV.MY_TOPICS' | translate }}
          </a>
          <a *ngIf="false" class="nav-item nav-link" routerLink="/" routerLinkActive="active">
            {{ 'NAV.REQUEST' | translate }}
          </a>
          <a *ngIf="false" class="nav-item nav-link" routerLink="/" routerLinkActive="active">
            {{ 'NAV.MANAGER_PANEL' | translate }}
          </a>
          <a class="nav-item nav-link"
             routerLink="admin"
             (click)="openAdminDashboard(true)"
             role="button">
            {{ 'NAV.ADMIN_PANEL' | translate }}
          </a>
        </div>
    </div>

    <a class="navbar-brand d-flex mx-auto" routerLink="/">Forum for Business</a>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
        <div class="navbar-nav ml-auto">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <a ngbDropdownToggle
                       class="nav-item nav-link"
                       id="dropdownLangLinks"
                       role="button">
                        {{ 'NAV.LANG' | translate }}
                    </a>
                    <div ngbDropdownMenu
                         aria-labelledby="dropdownLangLinks">
                      <a class="nav-item nav-link" (click)="switchLang('en')" role="button">
                        {{ 'LANG.EN' | translate }}
                      </a>
                      <a class="nav-item nav-link" (click)="switchLang('ru')" role="button">
                        {{ 'LANG.RU' | translate }}
                      </a>
                    </div>
                </div>
            </div>

            <a class="nav-item nav-link" routerLink="/">{{ 'NAV.SIGN_IN' | translate }}</a>
            <div *ngIf="isNavbarCollapsed" class="navbar-text"> {{ 'NAV.OR' | translate }}</div>
            <a class="nav-item nav-link" routerLink="/">{{ 'NAV.SIGN_UP' | translate }}</a>
            <a *ngIf="false" class="nav-item nav-link" routerLink="/">{{ 'NAV.SIGN_OUT' | translate }}</a>
        </div>
    </div>
</nav>
